@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
}

*{
  outline: 0;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
}

*::-webkit-scrollbar{
  width: 8px;
  height: 4px;
  border-radius: 40px;
}

*::-webkit-scrollbar-track {
  background: #18181C; 
}

*::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #707070;
}